#################
## Eclipse
#################

.classpath
.settings/

# Temporary files
*.*~


target/
.settings/


#############
## Latex
#############

*.log
*.aux
*.out
*~
*synctex.gz
*.bbl
*.blg
*.lts
*.toc
